* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #212121;
}

.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 350px;
    height: 420px;
    margin: 0px auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;

}

.search-field {

    border: none;
    border-radius: 20px;
    padding: 12px;
    outline: none;
    background-color: white;
    color: grey;

}

.search-button {
    padding: 12px;
    border-radius: 50%;
    border: none;
    outline: none;

}

.search {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;

}

.weather img {
    width: 150px;
}

.weather {
    margin-bottom: 15px;
}

.temperature,
.city-name {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin: 0;
}

.weather-details img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.col {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;


}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}